<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF.Cpp" version="22.1.0" targetFramework="native" />
  <package id="CodePorting.Native.Cs2Cpp.API" version="22.1.0" targetFramework="native" />
  <package id="nlohmann.json" version="3.10.4" targetFramework="native" />
</packages>